.services {
    margin-top: var(--standard-spacing);
    width: 100%;
    margin: auto;
}

.services h2 {
    text-align: center;
    color: var(--gold);
}

.service-grid {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 20px;
}

.service-card {
    padding: var(--standard-spacing);
    min-width: 300px;

    flex-basis: calc(25% - 5px);

    background-color: var(--dark-background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.service-card p {
    color: var(--beige);
}

.service-card h3 {
    color: var(--gold);
}