.faq {
    padding: 80px 0;
    width: 95%;
    margin: auto;
}

.faq h2 {
    text-align: center;
    margin-bottom: 40px;
}

.faq-list {
    max-width: 800px;
    margin: auto;
    padding: 18px;

    border: 1px solid var(--blue);
    border-radius: var(--border-radius);
}

.faq-wrapper {
    padding: 18px 0;
    line-height: var(--standard-spacing);
}

.faq-wrapper span {
    font-weight: bolder;
}

.faq-question {
    width: 100%;

    text-align: left;

    background: none;
    border: none;

    font-size: 18px;
    cursor: pointer;

    color: var(--beige);
}

.faq-answer {
    color: color-mix(in srgb, var(--beige), black 30%);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    pointer-events: none;

    margin-left: var(--standard-spacing);

    transition:
        opacity ease-in-out 0.5s 
        transform ease-in-out 0.5s 
        visibility 0.5s;
}

.faq-answer.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}