<section class="booking-section">
    <div class="booking-container card-gradient">
        <h2>Book Your Appointment</h2>

        <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="name">Name</label>
                <input 
                    type="text" 
                    id="name" 
                    formControlName="name" 
                    placeholder="John" >

                    @if (submitted() && formControl['name'].errors) {
                        <div class="error">
                            @if (formControl['name'].errors['required']) {
                                <small>Name is required.</small>
                            }
                            @if (formControl['name'].errors['minLength']) {
                                <small>Name must be at least 3 characters.</small>
                            }
                        </div>
                    }
            </div>

            <div class="form-group">
                <label for="surname">Surname</label>
                <input 
                    type="text" 
                    id="surname" 
                    formControlName="surname" placeholder="Doe">
            
                @if (submitted() && formControl['surname'].errors) {
                    <div class="error">
                        @if (formControl['surname'].errors['required']) {
                        <small>surname is required.</small>
                        }
                        @if (formControl['surname'].errors['minLength']) {
                        <small>surname must be at least 3 characters.</small>
                        }
                    </div>
                }
            </div>

            <div class="form-group">
                <label 
                    for="email">Email Address</label>
                <input 
                    type="email" 
                    id="email" 
                    formControlName="email" 
                    placeholder="example@email.com" >

                    @if (submitted() && formControl['email'].errors) {
                        @if (formControl['email'].errors['required']) {
                            <small>Email is required.</small>
                        }
                        @if (formControl['email'].errors['email']) {
                            <small>Email must be valid.</small>
                        }
                    }
            </div>

            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input 
                    type="tel" 
                    id="phone" 
                    formControlName="phone" 
                    placeholder="+27 123 456 7890" >

                    @if (submitted() && formControl['phone'].errors) {
                        @if (formControl['phone'].errors['required']) {
                            <small>Phone number is required.</small>
                        }
                        @if (formControl['phone'].errors['pattern']) {
                            <small>Phone number is invalid.</small>
                        }
                    }
            </div>
            
            <div class="form-group">
                <label for="address">Address</label>
                <input 
                    type="text" 
                    id="phone" 
                    formControlName="address">
            </div>

            <div class="form-group">
                <label for="service">Service</label>
                <select 
                    id="service" 
                    formControlName="service" >
                    <option 
                        value=""
                        class="options">Select a Service</option>
                        @for (s of services(); track $index) {
                            <option 
                                [value]="s.id"
                                class="options" >{{s.name}}</option>
                        }
                </select>

                @if (submitted() && formControl['service'].errors) {
                    <small>Service selection is required.</small>
                }
            </div>

            <div class="form-group">
                <label for="date">Preferred Date</label>
                <input 
                    type="date" 
                    id="date" 
                    formControlName="date" >

                    @if (submitted() && formControl['date'].errors) {
                        <div class="error">
                            <small>Date is required.</small>
                        </div>
                    }
            </div>

            <div class="form-group">
                <label for="time">Preferred Time</label>
                <input 
                    type="time" 
                    id="time" 
                    formControlName="time" >

                    @if (submitted() && formControl['time'].errors) {
                        <div class="error">
                            <small>Time is required.</small>
                        </div>
                    }
            </div>

            <div class="form-group checkbox-group">
                <label class="checkbox-label">
                    <input 
                        type="checkbox"
                        formControlName="onMedication">
                    <span class="custom-checkbox"></span>
                    <span class="label-text">On Medication?</span>
                </label>
            </div>

            @if (bookingForm.controls.onMedication.value) {
                <div 
                    class="form-group" 
                    formArrayName="medication">
                    @for (med of medicationArray.controls; track $index; let i = $index) {
                        <div
                            class="medication-wrapper" 
                            [formGroupName]="i">
                            <input 
                                type="text"
                                formControlName="name" 
                                placeholder="Medication Name">
                                <button
                                    class="remove-button"
                                    type="button"
                                    (click)="removeMedication(i)">
                                    Remove
                                </button>
                        </div>
                    }
                    <button 
                        class="second-button"
                        type="button" 
                        (click)="addMedication()">
                        Add Medication
                    </button>
                </div>  
            }


            <div class="form-group">
                <label for="notes">Additional Notes</label>
                <textarea 
                    id="notes" 
                    formControlName="notes" 
                    rows="4" 
                    placeholder="Any special requests..."></textarea>
            </div>

            <button 
                type="submit" 
                class="btn-submit"
                [disabled]="isLoading() && bookingForm.invalid">
                Book Now
            </button>
        </form>
    </div>
</section>