.booking-section {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

.booking-container {
    padding: 40px;

    max-width: 500px;
    width: 100%;
}

.booking-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--beige);
}

.form-group input,
.form-group select,
.form-group textarea{
    padding: 12px;

    border: 1px solid var(--blue);
    border-radius: 8px;

    font-size: 1rem;

    background-color: transparent;
    color: var(--beige);
}

.options {
    background-color: var(--dark-background-color);
}

.btn-submit {
    width: 100%;
    padding: 15px;

    background: var(--blue);
    color: var(--beige);

    border: none;
    border-radius: 10px;

    font-size: 1.1rem;
    cursor: pointer;

    transition:     
        background 0.5s;
}

.btn-submit:hover {
    background: var(--blue-light);
}

.form-message {
    margin-top: 15px;

    text-align: center;
    font-weight: 500;

    color: green;
}

.error small {
    color: red;
    font-size: 0.85rem;
}

.medication-wrapper {
    display: flex;
    gap: var(--standard-spacing);
    align-items: center;

    width: 100%;

    margin-top: var(--standard-spacing);
}

.medication-wrapper input {
    flex: 1;
    min-width: 0;
}

.remove-button {
    flex-shrink: 0;

    color: var(--beige);
    background: transparent;

    padding: 10px 18px;

    border-radius: var(--border-radius);
    border: 1px solid red;

    cursor: pointer;

    transition:
        border-color 0.5s;
}

.remove-button:hover {
    border-color: lightcoral;
}

/* Checkbox Design */
.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

/* Hide default checkbox */
.checkbox-label input {
    display: none;
}

/* Custom box */
.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid var(--blue);
    border-radius: 4px;
    position: relative;
    transition: all 0.2s ease;
}

/* Checkmark */
.custom-checkbox::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 10px;
    border: solid var(--beige);
    border-width: 0 2px 2px 0;
    top: 2px;
    left: 6px;
    transform: rotate(45deg) scale(0);
    transition: transform 0.2s ease;
}

/* Checked state */
.checkbox-label input:checked+.custom-checkbox {
    background-color: var(--blue);
    border-color: var(--blue);
}

.checkbox-label input:checked+.custom-checkbox::after {
    transform: rotate(45deg) scale(1);
}

/* Hover effect */
.checkbox-label:hover .custom-checkbox {
    border-color: var(--blue-light);
}

.label-text {
    color: var(--beige);
    font-weight: 500;
}