.about {
    width: 105%;

    padding: var(--standard-spacing);
    margin: var(--standard-spacing);
    margin-left: var(--standard-spacing);
}

.about-content {
    display: flex;
    width: 85%;

    margin-left: auto;
    align-items: center;
    padding: 0;
    gap: 100px;
}

.about-content img {
    max-height: 300px;

    border-radius: var(--border-radius);
    box-sizing: border-box;

    margin-right: calc(var(--standard-spacing) * 5);
}

.about-text {
    max-width: 800px;
    margin: auto;

    text-align: center;
    line-height: var(--standard-line-height);
}

.about-text a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .about {
        width: 90%;
    }

    .about-content {
        flex-direction: column;

        margin-left: 0;
        padding: 0;
        gap: 20px;
    }

    .about-content img {
        width: 100%;
        margin: auto;
    }    
}