:root {
    --dark-background-color: #111111;
    --light-background-color: color-mix(in srgb, var(--dark-background-color), white 10%);
    --beige: #F3ECE4;
    --gold: #C6A96B;
    --blue: #123B52;
    --blue-light: #1B4C66;
    --light-border: #123B52;

    --border-radius: 10px;

    --standard-spacing: 1.5rem
}

body {
    color: var(--dark-heading-color);
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--light-background-color);
}

h1, h2, h3 {
    color: var(--gold);
}

p {
    color: var(--beige);
}

textarea {
    resize: none;
}

/* Hero Button */
.hero-button {
    display: inline-block;

    margin-top: 20px;
    padding: 14px 30px;

    background: var(--blue);
    color: var(--beige);

    border-radius: var(--border-radius);
    border: none;
    text-decoration: none;

    cursor: pointer;

    transition:
        background-color 0.5s;
}

.hero-button:hover {
    background-color: var(--blue-light);
}

.second-button {
    color: var(--beige);
    background: transparent;
    margin-top: 10px;

    padding: 10px 18px;

    border-radius: var(--border-radius);
    border: 1px solid var(--blue);

    cursor: pointer;

    transition: 
        border-color 0.5s;
}

.second-button:hover {
    border-color: var(--blue-light);
}