:root {
    --dark-background-color: #111111;
    --beige: #F3ECE4;
    --gold: #C6A96B;
    --light-border: #E5DED6;

    --border-radius: 10px;

    --standard-spacing: 1.5rem
}

body {
    color: var(--dark-heading-color);
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    background-color: color-mix(in srgb, var(--dark-background-color), white 10%);
}