<section class="testimonials">
    <div class="slide-wrapper">
        <button 
            class="nav left"
            (click)="prev()" >
            ‹
        </button>

        <div class="slider">
            @for (t of testimonials; track $index; let i = $index) {
                <div 
                    class="testimonial card-gradient"
                    [style.transform]="'translateX(' + getOffset(i) * 330 + 'px) scale(' + (i === currentIndex() ? 1 : 0.8) + ')'"
                    [style.opacity]="i === currentIndex() ? 1 : 0.3" >
                    <p>{{t.message}}</p>
                    <strong>{{t.name}}</strong>
                </div>
            }
        </div>
        <button 
            class="nav right"
            (click)="next()" >
            ›
        </button>
    </div>
</section>